html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Main content */
main {
    flex: 1 0 auto;
}

/* Footer */
footer {
    flex-shrink: 0;
    font-size: .5rem;
}

#questions,
#final,
#highscores,
#yaynay {
    display: none;  
  } 

ul.nobullets {
list-style-type: none;
}

